h1,
.gallery,
.buttons {
  text-align: center;
}
h1 {
  font-size: 50px;
  color: #f1ab1d;
}
.gallery {
  padding-bottom: 50px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
}
button {
  width: 150px;
  height: 30px;
  background-color: #fab73a;
  cursor: pointer;
  font-size: 18px;
}
